<div class="card">
  <div class="card-header">
    <h2 class="card-title">Flight Search</h2>
  </div>
  <div class="card-body">
    <form #searchForm="ngForm">
      <div class="form-group">
        <label>From:</label>
        <input class="form-control"
          name="from" [(ngModel)]="from"
          required minlength="3" city />
      </div>
      <div
          *ngIf="searchForm?.controls?.['from']?.invalid"
          class="alert alert-danger">
          This control has an invalid state currently.
      </div>
      <div
          *ngIf="searchForm?.controls?.['from']?.hasError('required')"
          class="alert alert-danger">
          This control is mandatory - please enter a value.
      </div>
      <div
          *ngIf="searchForm?.controls?.['from']?.hasError('minlength')"
          class="alert alert-danger">
          Please enter at least
          {{ searchForm?.controls?.['from']?.errors?.['minlength'].requiredLength }}
          chars.
      </div>
      <div
          *ngIf="searchForm?.controls?.['from']?.hasError('city')"
          class="alert alert-danger">
          Please enter a valid city. Use one of the cities below:<br>
          {{ searchForm?.controls?.['from']?.errors?.['city'].validCities.join(', ') }}
      </div>

      <div class="form-group">
        <label>To:</label>
        <input class="form-control"
          name="to" [(ngModel)]="to"
          required minlength="3" />
      </div>
      <div
          *ngIf="searchForm?.controls?.['to']?.invalid"
          class="alert alert-danger">
          This control has an invalid state currently.
      </div>
      <div
          *ngIf="searchForm?.controls?.['to']?.hasError('required')"
          class="alert alert-danger">
          This control is mandatory - please enter a value.
      </div>
      <div
          *ngIf="searchForm?.controls?.['to']?.hasError('minlength')"
          class="alert alert-danger">
          Please enter at least
          {{ searchForm?.controls?.['to']?.errors?.['minlength'].requiredLength }}
          chars.
      </div>
      <div
          *ngIf="searchForm?.controls?.['to']?.hasError('city')"
          class="alert alert-danger">
          Please enter a valid city. Use one of the cities below:<br>
          {{ searchForm?.controls?.['to']?.errors?.['city'].validCities.join(', ') }}
      </div>

      <div class="form-group">
        <label>
          <input [(ngModel)]="isDelayedToggle" name="delayed" type="checkbox">
          Is delayed: {{ isDelayedToggle }}
        </label>
      </div>
      <div class="form-group">
        <button class="btn btn-default"
          (click)="search()"
          [disabled]="!searchForm.valid">
          Search
        </button>
        <div *ngIf="flights.length">
          {{ flights.length }} flights found!
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div
    *ngFor="let f of flights"
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

    <app-flight-card [item]="f" [(selected)]="basket[f.id]"></app-flight-card>

  </div>
</div>

<div class="card">
  <div class="card-body">
    <pre>{{ basket | json }}</pre>
  </div>
</div>
